{% extends 'base.html' %}

{% load static %}

{% block content %}

    <center style="font-family:'Fredoka';color:#9854AA;text-align:center;background-color: whitesmoke; margin: 50px"><h1><b>HOME</b></h1></center>

    <div class="isihome" style="font-family:'tahoma';color:#7030A0">

    <div class="welcome" style="text-align:justify">
        <section class="banner">
            <h2>Welcome to Dream Courses</h2>
        </section>

        <section class="about">
            <div class="container-1">
                <h3><b>Bimbingan Pembelajaran yang Disediakan</b></h3>
                <center><button><a href ="/courses/" style="color:whitesmoke">Lihat</a></button></center>
            </div>
        </section>
        <br>
        <section class="team">
            <h2 style="font-family:'Fredoka'; font-size: 40px;background-color: #e0c4e8;"><b>Team Profile</b></h2>
            
            <img src="/static/images/grup.JPG" style="width:500px;height:300px;margin:10px 80px;border-radius: 50px;">
        </section>

        <section style="text-align:center; align-items:center">
            <ol class="nama" style="list-style: none;font-size:25px; font-family: 'Fredoka'">
                <h1><b>Kelas : 3 C</b></h1>
                <br>
                <li>Anggi Arrochman     (2225210050)</li>
                <li>Anisa Ramadhani     (2225210009)</li>
                <li>Selvi Kurnia Muharromah     (2225210095)</li>

            </ol>
        </section>

        <section class="service">
            <div class="isi" style="color:white;margin:0 20px">

                <h2 style="font-size:50px;font-family: 'Lobster'"><b>DreamCourses</b></h2>
                <span style="font-family:'Courgette'">Bimbingan Belajar Online Berkualitas</span>


                <br><br>
                <span><img src="/static/images/logowa.png">
                    <h6><b>Whatsapp</b></h6></span>
                    <span><img src="/static/images/instagram.png">
                    <h6><b>Instagram</b></h6></span>
                <span><img src="/static/images/twitter.png">
                    <h6><b>Twitter</b></h6></span>
            </div>

        </section>
    </div>

{% endblock %}


