{% extends 'base.html' %}

{% load static %}

{% block content %}

    <center style="font-family:'Fredoka';color:#9854AA;text-align:center;background-color: whitesmoke; margin: 50px"><h1><b>ABOUT DREAM COURSES</b></h1></center>

    <div class="isihome" style="font-family:'tahoma';color:#7030A0"></div>

    <div class="welcome" style="text-align:justify">
        <center style="margin:0px 50px 0px 50px">
        <h6 style="text-align:justify;font-family:'Poppins' ">Dream Courses merupakan sebuah website yang berguna untuk membantu para pelajar yang ingin menggali ilmu pengetahuannya melalui kursus-kursus yang kami sediakan.</h6>
        <br>
        <h6 style="text-align:justify;font-family: 'poppins'">Adapun nama Dream Courses sendiri dibuat dengan harapan website ini bisa membantu pelajar untuk menggapai impian nya (dream) dalam memahami pelajaran yang dirasa sulit dipahami. 
        </h6>

        <br>
        <img src="/static/images/logo.png" style="width:450px;height:300px">
        </center>

     
        <br><br>

        <section class="service">
            <div class="isi" style="color:white;margin:0 20px">

                <h2 style="font-size:50px;font-family: 'Lobster'"><b>DreamCourses</b></h2>
                <span style="font-family:'Courgette'">Bimbingan Belajar Online Berkualitas</span>


                <br><br>
                <span><img src="/static/images/logowa.png">
                    <h6><b>Whatsapp</b></h6></span>
                    <span><img src="/static/images/instagram.png">
                    <h6><b>Instagram</b></h6></span>
                <span><img src="/static/images/twitter.png">
                    <h6><b>Twitter</b></h6></span>
            </div>

        </section>
    </div>

{% endblock %}


