{% extends 'base.html' %}

{% load static %}

{% block content %}

    <center style="font-family:'Nerko';color:#9854AA;text-align:center;background-color: whitesmoke; margin: 50px"><h1><b>COURSES</b></h1></center>

    <div class="isihome" style="font-family:'tahoma';color:#7030A0"></div>

    <div class="welcome" style="text-align:justify">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img src="/static/images/spltv.jpg" class="card-img-top" style="width:287px;height:194px">
                <div class="card-body">
                  <h5 class="card-title">Sistem Persamaan Linear Tiga Variabel</h5>
                  <p class="card-text">Sistem Persamaan Linear Tiga Variabel (SPLTV) merupakan salah satu materi Matematika yang kalian pelajari di kelas 10. Biar semakin paham, cari tahu pengertian, rumus, dan cara menghitungnya di DreamCourses yuk!</p>
                  <a href="#" class="btn btn-primary">Join</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 18rem;">
                <img src="/static/images/geometri.jpg" class="card-img-top" style="width:287px;height:194px">
                <div class="card-body">
                  <h5 class="card-title">Geometri</h5>
                  <p class="card-text">Geometri adalah studi matematika yang mempelajari ruang bangun dengan berfokus pada pengukuran, pernyataan terkait bentuk, posisi relatif sebuah gambar ilmu ukur, padang ruang, dan lain sebagainya. 
                    <br><br>
                    Yuk Join Sekarang!</p>
                  <a href="#" class="btn btn-primary">Join</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                  <img src="/static/images/trigonometri.jpg" class="card-img-top" style="width:287px;height:194px">
                  <div class="card-body">
                    <h5 class="card-title">Trigonometri</h5>
                    <p class="card-text">Trigonometri adalah sebuah cabang matematika yang mempelajari hubungan yang meliputi panjang dan sudut segitiga.
                      <br><br><br><br>
                      Yuk Join sekarang! 
                    </p>
                    <a href="#" class="btn btn-primary">Join</a>
                  </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-sm-4">
              <div class="card" style="width: 19rem;">
                <img src="/static/images/limitfungsi.png" class="card-img-top" style="width:287px;height:194px">
                <div class="card-body">
                  <h5 class="card-title">Limit Fungsi Aljabar</h5>
                  <p class="card-text">Halo Sobat DreamCourses! kali ini kami akan mengajak kalian semua buat ngebahas materi limit Matematika fungsi aljabar kelas 11, mulai dari pengertian hingga sifat-sifatnya.

                    <br>
                    Yuk Join Sekarang!
                  </p>
                  <a href="#" class="btn btn-primary">Join</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card" style="width: 19rem;">
                <img src="/static/images/statistika.jpg" class="card-img-top" style="width:287px;height:194px">
                <div class="card-body">
                  <h5 class="card-title">Statistika</h5>
                  <p class="card-text">Statistika adalah ilmu mengumpulkan, menganalisis, menampilkan, dan menafsirkan data.
                    Di sini kamu akan belajar bagaimana menganalisis data-data yang sudah ada dan lain sebagainya.
                    <br>
                    Yuk Join Sekarang!
                  </p>
                  <a href="#" class="btn btn-primary">Join</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 19rem;">
                  <img src="/static/images/induksimatematika.png" class="card-img-top" style="width:287px;height:194px">
                  <div class="card-body">
                    <h5 class="card-title">Induksi Matematika</h5>
                    <p class="card-text">Induksi matematika merupakan salah satu cara pembuktian rumus atau pernyataan matematika, atau lebih tepatnya metode pembuktian terhadap suatu pernyataan apakah pernyataan tersebut berlaku untuk setiap kasus. Yuk Join Sekarang!</p>
                    <a href="#" class="btn btn-primary">Join</a>
                  </div>
          </div>
        </div>
    </div>
    </div>
    
     
    </div>
    <br><br>

    <section class="service">
      <div class="isi" style="color:white;margin:0 20px">

          <h2 style="font-size:50px;font-family: 'Lobster'"><b>DreamCourses</b></h2>
          <span style="font-family:'Courgette'">Bimbingan Belajar Online Berkualitas</span>


          <br><br>
          <span><img src="/static/images/logowa.png">
              <h6><b>Whatsapp</b></h6></span>
              <span><img src="/static/images/instagram.png">
              <h6><b>Instagram</b></h6></span>
          <span><img src="/static/images/twitter.png">
              <h6><b>Twitter</b></h6></span>
      </div>

    </section>

{% endblock %}



